<div class="container content-md">
  <div class="row">
    <div class="col-md-12">
  <video poster="{{currentVideo?.Poster}}" src="{{currentVideo?.Source}}" #videoControl controls="controls" width="100%" height="100%"></video>
  </div>
  </div>
</div>
<div class="container content-md">
      <ul class="row block-grid">
        <li class="col-md-4 col-sm-6">
          <div class="easy-block">
            <img class="img-responsive img-block" [src]="imgSourceUrl"/>
            <div class="easy-block-badge">Testing 123..</div>
            
            <div class="block-grid-info">
						<h3><a href="#">Related Video</a></h3>
						<p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</div>
            </div>  
        </li>
         <li class="col-md-4 col-sm-6">
          <div class="easy-block">
            <img class="img-responsive img-block" [src]="imgSourceUrl"/>
            <div class="easy-block-badge">Testing 123..</div>
            
            <div class="block-grid-info">
						<h3><a href="#">Related Video</a></h3>
						<p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</div>
            </div>  
        </li>
         <li class="col-md-4 col-sm-6">
          <div class="easy-block">
            <img class="img-responsive" [src]="imgSourceUrl"/>
            <div class="easy-block-badge">Testing 123..</div>
            
            <div class="block-grid-info">
						<h3><a href="#">Other related Video</a></h3>
						<p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</div>
            </div>  
        </li>
        
      </ul>
  </div>


<div class="container content-md">
      <ul class="row block-grid">
        <li class="col-md-4 col-sm-6">
          <div class="easy-block">
            <img class="img-responsive" [src]="imgSourceUrl"/>
            <div class="easy-block-badge">Testing 123..</div>
            
            <div class="block-grid-info">
						<h3><a href="#">Related Video</a></h3>
						<p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</div>
            </div>  
        </li>
         <li class="col-md-4 col-sm-6">
          <div class="easy-block">
            <img class="img-responsive" [src]="imgSourceUrl"/>
            <div class="easy-block-badge">Testing 123..</div>
            
            <div class="block-grid-info">
						<h3><a href="#">Related Video</a></h3>
						<p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</div>
            </div>  
        </li>
         <li class="col-md-4 col-sm-6">
          <div class="easy-block">
            <img class="img-responsive" [src]="imgSourceUrl"/>
            <div class="easy-block-badge">Testing 123..</div>
            
            <div class="block-grid-info">
						<h3><a href="#">Other related Video</a></h3>
						<p>Excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio..</p>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</div>
            </div>  
        </li>
        
      </ul>
  </div>




